body{
    margin: 0%;
}

.mycontainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
}
.websitepart{
    height: 100vh;
}

.hero{
    width: 100vw;
    background-color: #8babc0;
}
.hero .mycontainer h1{
    padding-top: 130px;
}



.introduction .mycontainer{
    gap: 17px;
}

.introduction p {
    text-align: center;
}

.skills{
    background-color: #acd4cb;
}

.contact{
    background-color: #e8c0ce;
}

.contact p {
    text-align: center;
}


#icecream{
    height: 530px;
}
#oleksandra{
    width: 200px; height: 200px; border-radius: 50%; object-fit: cover;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 61px;
}

.open-sans-my {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 22px;
}

.mycontainer > * + * {
    margin-top: 70px;
}

.btn-primary {
  background-color: #acd4cb;
  border-color: #acd4cb;
  color: #191110;
}

.contact .mycontainer > * + * {
    margin-top: 12px;
}

.btn-lg {
    padding: 1rem 2rem; /* вертикаль x горизонталь */
    font-size: 1.7rem;      /* размер текста */
}

#skillsimg {
    height: 170px;
}

.mygrid{
    display: grid;
    grid-template-columns: 1fr 2fr; /* 2 columns */
    grid-template-rows: 1fr 1fr;    /* 2 rows */
    gap: 10px;
}

.skills .mycontainer{
    width: 70vw;
    margin: 0 auto;   

}